/***** UTILS *****/

// variables
$color-primary: #5a6f07;
$color-secondary: #93ad19;
$font-stack: 'Montserrat', sans-serif;

// global
body {
  font-family: $font-stack;
  font-size: 16px;
  font-weight: 400;
  background-color: #f5f5f5;
}

// mixin

// mobile -> max 768px
// tablet -> min 769px max 1023px
// desktop -> min 1024px max 1440px

@mixin mobile() {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

// Conversion px en em ou rem
@function em($size, $base: 16) {
  @return 0em + calc($size / $base);
}
@function rem($size, $base: 16) {
  @return 0rem + calc($size / $base);
}
