@import '../../styles/_utils.scss';

/***** TAB *****/

.employees-content {
  display: flex;
  flex-direction: column;
}

.table-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  @include mobile {
    flex-direction: column;
    gap: 10px;
  }

  label {
    margin: 0 10px;
  }

  select,
  input {
    font-family: 'Montserrat';
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    background-color: #fff;
  }
}

.table-content {
  width: 100%;
  overflow-x: auto;
}
.table-display {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-primary;

  th,
  td {
    padding: 10px;
    text-align: left;

    @include mobile {
      font-size: 14px;
    }
  }

  th {
    font-weight: 600;
  }

  tbody tr:nth-child(even) {
    &:hover {
      background-color: rgba(147, 173, 25, 0.1);
    }
  }

  tbody tr:nth-child(odd) {
    background-color: rgba(147, 173, 25, 0.3);

    &:hover {
      background-color: rgba(147, 173, 25, 0.4);
    }
  }
}

.table-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include mobile {
    flex-direction: column-reverse;
    gap: 10px;
  }

  &--info {
    @include mobile {
      font-size: 14px;
    }
  }

  &--list {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      margin: 0 5px;

      a {
        padding: 5px 10px;
        text-decoration: none;
        color: #333;

        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
}

/* Visually hidden class for accessibility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
